@mixin center-panel {
	.center-panel {
	  position: absolute;
	  top: 50px;
	  left: 0;
	  width: calc(100% - 400px);
	  height: calc(100% - 50px);
	  overflow: hidden;
  
	  &.fullWidth {
		width: 100%;
	  }
	}
  }