@mixin center-panel {
	.center-panel {
		position: absolute;
		top: $top-panel-height;
		left: 0;
		width: calc(100% - #{$details-panel-width});
		height: calc(100% - #{$top-panel-height});

		&.fullwidth {
			width: $center-panel-width;
		}
	}
}
