@mixin details-panel {
	.details-panel {
		position: absolute;
		top: $top-panel-height;
		right: 0;
		width: $details-panel-width;
		height: calc(100% - #{$top-panel-height});
		overflow: hidden;
		border-left: 1px solid #e0e0e0;
		background-color: $details-panel-bg;
		display: none;
		padding: 20px;
		box-sizing: border-box;

		&.visible {
			display: flex;
			flex-direction: column;

			.MuiTextField-root {
				margin-top: 20px;
			}
		}
	}
}
