@mixin top-panel {
	.top-panel {
		position: absolute;
		top: 0;
		left: 0;
		width: $top-panel-width;
		height: $top-panel-height;
		background-color: $top-panel-bg;
		margin: 0;
		padding: 0;

		h3 {
			float: left;
			line-height: 50px;
			color: $top-panel-font-color;
			padding: 0 20px;
			margin: 0;
		}
	}
}
