$font-color: #333;

$top-panel-bg: #333;
$top-panel-font-color: #fff;
$top-panel-width: 100vw;
$top-panel-height: 64px;

$details-panel-width: 400px;
$details-panel-bg: #f0f1f9;

$center-panel-width: 100vw;
